<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="production" verbose="1" >
    <groups>
        <run>
            <include name="smoke"/>
        </run>
    </groups>
    <test name="smokelogin">
        <classes>
            <class name="LoginTest"/>
        </classes>
    </test>
</suite>